In [188]:
import stt.ibm.stt as ibm_stt
import tools.txtgrid_master.TextGrid_Master as tgm
import librosa
import soundfile as sf
import json
import pandas as pd
import numpy as np
from collections import defaultdict

In [190]:
wav_file = 'samples/325/325_Primary_34-01.wav'
wav_16_file = 'samples/325/325_Primary_34-01_16k.wav'
wav_44_file = 'samples/325/325_Primary_34-01_44k.wav'
json_file = 'samples/325/325_Primary_34-01.json'
txtgrid_file = 'samples/325/325_Primary_34-01.TextGrid'

In [75]:
#Get duration
dur_in_secs = librosa.get_duration(filename=wav_16_file)

In [7]:
#Convert file to 16k mono
y, sr = librosa.load(wav_file, sr=16000, mono=True)
sf.write(wav_16_file,y,sr)

In [ ]:
#Run ibm asr
#model_str could be 'Multimedia' or ['BroadbandModel']
results = ibm_stt.stt_audio_file(wav_16_file,model_str='BroadbandModel')
with open(json_file,'w') as fjson:
    json.dump(results, fjson)

In [9]:
#Load results from json
with open(json_file) as fjson:
    results = json.load(fjson)

In [11]:
def get_speakers_number(results):
    if isinstance(results, list):
        results = results[0]
    return len(set([x['speaker'] for x in results['speaker_labels']]))

In [12]:
get_speakers_number(results)

3

In [24]:
df_spkrs = pd.DataFrame.from_records(results[0]['speaker_labels'])

In [43]:
timestamps=[]
_ = [timestamps.extend(x['alternatives'][0]['timestamps']) for x in results[0]['results']]
df_words = pd.DataFrame.from_records(timestamps,columns=['word','from','to'])

In [47]:
df_results = pd.merge(df_spkrs, df_words, on=['from','to'])

In [82]:
n_spkrs = df_results.speaker.unique().shape[0]
tiersDict = {}
for spk in df_results.speaker.unique():
    tierName = 'spk{}'.format(spk)
    df_results_spk = df_results[df_results.speaker==spk]
    stTime, endTime, labels = [a.squeeze() for a in np.split(df_results_spk[['from','to','word']].values,3,1)]
    tiersDict[tierName] = (list(stTime), list(endTime), list(labels))

In [83]:
tgm.WriteTxtGrdFromDict(txtgrid_file,tiersDict,0,dur_in_secs,sFilGab='')

In [ ]:
#Get Beep times
config = 'scripts/beep.ini'
#Convert file to 44k mono and 16 bit for beep detection
y, sr = librosa.load(wav_file, sr=44000, mono=True)
sf.write(wav_44_file,y,sr)
lBeepTimes = init.GetBeepTimesML(config, wav_44_file)

/home/mostafa/.local/lib/python3.9/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator StandardScaler from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/mostafa/.local/lib/python3.9/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator SVC from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/home/mostafa/.local/lib/python3.9/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator Pipeline from version 0.23.2 when using version 0.24.2. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
 31%|█████████████████████████▉                                                           | 120120/393583 [14:27<30:57, 147.18it/s]

In [136]:
lBeepTimes

array([], dtype=float64)

# SQL

In [137]:
#MySQL database connection configuration
UserName = 'unsw'
Password = 'UNSWspeech'
HostIP = '184.168.98.156'
#DatabaseName = 'auskidtalk_prod'
DatabaseName = 'auskid_talk_prod_2'

In [138]:
import mysql.connector
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
query = ("SHOW TABLES")
cursor.execute(query)
results = cursor.fetchall()

In [139]:
results

[{'Tables_in_auskid_talk_prod_2': 'SESSION_PROGRESS'},
 {'Tables_in_auskid_talk_prod_2': 'Version_history'},
 {'Tables_in_auskid_talk_prod_2': 'child'},
 {'Tables_in_auskid_talk_prod_2': 'experiment'},
 {'Tables_in_auskid_talk_prod_2': 'location'},
 {'Tables_in_auskid_talk_prod_2': 'minigames_data'},
 {'Tables_in_auskid_talk_prod_2': 'ra'},
 {'Tables_in_auskid_talk_prod_2': 'review_questions_list'},
 {'Tables_in_auskid_talk_prod_2': 'task1'},
 {'Tables_in_auskid_talk_prod_2': 'task2_random_sequence'},
 {'Tables_in_auskid_talk_prod_2': 'task_start_end_times'},
 {'Tables_in_auskid_talk_prod_2': 'tasks_data'},
 {'Tables_in_auskid_talk_prod_2': 'words'}]

In [159]:
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
iChildID = 67
query = ("SELECT * FROM task_start_end_times WHERE child_id={0}".format(iChildID))
cursor.execute(query)
results = cursor.fetchall()

In [160]:
pdChild_Task = pd.DataFrame.from_dict(results)

In [161]:
pdChild_Task

,child_id,ra_id,task1_start_time,task1_end_time,task1_start_time_2,task1_end_time_2,task2_start_time,task2_end_time,task3_start_time,task3_end_time,task4_start_time,task4_end_time,task5_start_time,task5_end_time
0,67,18,"2022-02-09 13:40:37.049,2022-02-09 14:23:32.605,0","2022-02-09 14:05:10.641,2022-02-09 14:23:32.606,0","2022-02-09 14:05:52.838,2022-02-09 14:23:32.606,0","0,2022-02-09 14:28:39.132,0","0,2022-02-09 15:06:51.994,0","0,2022-02-09 15:16:59.165,0","0,2022-02-09 15:18:22.043,0","0,2022-02-09 15:22:09.437,0","0,2022-02-09 15:22:48.263,2022-02-09 15:38:00.469","0,0,2022-02-09 15:38:08.765","0,0,2022-02-09 15:39:11.964","0,0,2022-02-09 15:47:55.545"

In [165]:
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
query = ("SELECT * FROM experiment WHERE id={0} AND task_id=1".format(iChildID))
cursor.execute(query)
results = cursor.fetchall()

In [166]:
pdChild = pd.DataFrame.from_dict(results)

In [167]:
pdChild

,id,task_id,word_id,answer_value,answer_time,task1_attempt_count,task1_audio_cue_offset,audio_cue_onset,task2_sentence_offset,task2_start_signal_time_used,task2_child_starts_speaking,task3_time_spent_on_picture,task4_button_tap_time,task4_child_start_speaking,task4_audio_cue_offset,task1_retry1_timestamp,task1_retry2_timestamp,is_repeated,version_number
0,67,1,1,1,2022-02-09 13:43:39.965,0,2022-02-09 13:43:28.658,2022-02-09 13:43:28.613,,0,,0,,,,,,0,1
1,67,1,2,3,2022-02-09 13:47:54.859,2,2022-02-09 13:47:48.479,2022-02-09 13:43:39.976,,0,,0,,,,2022-02-09 13:44:42.237,2022-02-09 13:47:46.514,0,1
2,67,1,3,1,2022-02-09 13:53:39.248,2,2022-02-09 13:48:53.319,2022-02-09 13:47:54.871,,0,,0,,,,2022-02-09 13:48:17.058,2022-02-09 13:48:51.860,0,1
3,67,1,4,1,2022-02-09 13:53:41.280,0,2022-02-09 13:53:39.293,2022-02-09 13:53:39.254,,0,,0,,,,,,0,1
4,67,1,5,1,2022-02-09 13:53:42.991,0,2022-02-09 13:53:41.331,2022-02-09 13:53:41.284,,0,,0,,,,,,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,67,1,126,1,2022-02-09 14:27:19.418,0,2022-02-09 14:26:52.830,2022-02-09 14:26:50.429,,0,,0,,,,,,0,2
128,67,1,127,1,2022-02-09 14:28:23.355,0,2022-02-09 14:27:22.080,2022-02-09 14:27:19.421,,0,,0,,,,,,0,2
129,67,1,128,1,2022-02-09 14:28:27.010,0,2022-02-09 14:28:25.919,2022-02-09 14:28:23.366,,0,,0,,,,,,0,2
130,67,1,129,1,2022-02-09 14:28:34.583,0,2022-02-09 14:28:29.253,2022-02-09 14:28:27.015,,0,,0,,,,,,0,2
131,67,1,130,1,2022-02-09 14:28:39.147,0,2022-02-09 14:28:36.862,2022-02-09 14:28:34.588,,0,,0,,,,,,0,2

In [143]:
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
query = ("SELECT * FROM child")
cursor.execute(query)
results = cursor.fetchall()

In [144]:
df = pd.DataFrame.from_dict(results)

In [145]:
df

,id,ra_id,name,location_id,token
0,1,0,,0,
1,2,0,,0,
2,3,0,,0,
3,4,0,,0,
4,5,0,,0,
...,...,...,...,...,...
1316,1317,0,,0,
1317,1318,0,,3,eozL7Z3URUq4jKFCyD0a6O:APA91bESTAxR2nG0_69y8t3...
1318,1319,0,,1,
1319,1320,0,,1,
1320,1321,0,,4,

In [146]:
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
query = ("SELECT * FROM SESSION_PROGRESS WHERE current_task=5 AND current_question=41")
cursor.execute(query)
results = cursor.fetchall()
df = pd.DataFrame.from_dict(results)

In [157]:
df.child_id

0       733
1        65
2        81
3       460
4       461
       ...
267    1147
268    1089
269    1318
270      62
271      67
Name: child_id, Length: 272, dtype: int64

In [148]:
connector = mysql.connector.connect(user=UserName, password=Password,
                              host=HostIP,
                              database=DatabaseName,buffered=True)
cursor = connector.cursor(buffered=True, dictionary=True)
iChildID = 719
query = ("SELECT * FROM task_start_end_times")
cursor.execute(query)
results = cursor.fetchall()
df = pd.DataFrame.from_dict(results)

In [158]:
df.iloc[271]

child_id                                                             67
ra_id                                                                18
task1_start_time      2022-02-09 13:40:37.049,2022-02-09 14:23:32.605,0
task1_end_time        2022-02-09 14:05:10.641,2022-02-09 14:23:32.606,0
task1_start_time_2    2022-02-09 14:05:52.838,2022-02-09 14:23:32.606,0
task1_end_time_2                            0,2022-02-09 14:28:39.132,0
task2_start_time                            0,2022-02-09 15:06:51.994,0
task2_end_time                              0,2022-02-09 15:16:59.165,0
task3_start_time                            0,2022-02-09 15:18:22.043,0
task3_end_time                              0,2022-02-09 15:22:09.437,0
task4_start_time      0,2022-02-09 15:22:48.263,2022-02-09 15:38:00.469
task4_end_time                              0,0,2022-02-09 15:38:08.765
task5_start_time                            0,0,2022-02-09 15:39:11.964
task5_end_time                              0,0,2022-02-09 15:47:55.545
Name: 271, dtype: object

In [156]:
df.iloc[]

,child_id,ra_id,task1_start_time,task1_end_time,task1_start_time_2,task1_end_time_2,task2_start_time,task2_end_time,task3_start_time,task3_end_time,task4_start_time,task4_end_time,task5_start_time,task5_end_time
0,733,8,2021-02-03 12:38:37.926,2021-02-03 12:45:36.928,2021-02-03 12:46:56.977,2021-02-03 12:53:37.236,2021-02-03 12:54:12.705,2021-02-03 13:01:44.392,2021-02-03 13:02:22.403,2021-02-03 13:04:41.652,2021-02-03 13:05:20.518,2021-02-03 13:10:18.636,2021-02-03 13:11:48.058,0
1,65,11,"2021-02-03 15:09:58.050,2021-02-03 15:13:07.99...","2021-04-07 14:23:32.759,0,2021-02-03 15:17:47....","2021-04-07 14:23:32.760,0,2021-02-03 15:18:24....","0,0,0,2021-02-03 15:25:39.769,0,0,0,0,0,2021-0...","0,0,0,2021-02-03 15:26:18.378,2021-02-03 15:27...","0,0,0,2021-02-03 15:26:35.570,0,2021-02-03 15:...","0,0,0,0,0,2021-02-03 15:33:03.279,0,0,0,2021-0...","0,0,0,0,0,2021-02-03 15:33:36.397,0,0,0,2021-0...","0,0,0,0,0,2021-02-03 15:34:15.567,2021-02-03 1...","0,0,0,0,0,2021-02-03 15:34:39.762,2021-02-03 1...","0,0,0,0,0,2021-02-03 15:35:18.451,2021-02-03 1...","0,0,0,0,0,2021-02-03 15:35:39.819,0,2021-02-03..."
2,81,4,"2021-02-03 17:06:05.591,0","2021-02-03 17:09:05.312,0","2021-02-03 17:44:05.343,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
3,460,13,2021-02-06 09:59:26.978,2021-02-06 10:06:59.157,2021-02-06 10:07:10.333,2021-02-06 10:18:43.904,2021-02-06 10:19:57.787,2021-02-06 10:25:30.675,2021-02-06 10:26:59.724,2021-02-06 10:29:48.323,2021-02-06 10:31:29.118,2021-02-06 10:36:51.911,2021-02-06 10:37:49.746,2021-02-06 10:43:04.249
4,461,13,2021-02-06 10:55:58.749,2021-02-06 11:01:47.540,2021-02-06 11:01:57.722,2021-02-06 11:11:43.373,2021-02-06 11:13:01.530,2021-02-06 11:18:37.708,2021-02-06 11:19:58.089,2021-02-06 11:22:24.944,2021-02-06 11:23:47.022,2021-02-06 11:28:46.113,2021-02-06 11:29:36.290,2021-02-06 11:34:40.612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,1147,8,2022-01-19 11:18:03.957,2022-01-19 11:23:35.346,2022-01-19 11:24:17.025,2022-01-19 11:31:28.449,2022-01-19 11:32:09.421,2022-01-19 11:38:19.688,2022-01-19 11:39:04.632,2022-01-19 11:42:42.265,2022-01-19 11:43:24.860,2022-01-19 11:49:18.583,2022-01-19 11:50:02.196,2022-01-19 11:53:33.293
268,1089,8,2022-01-19 14:25:46.126,2022-01-19 14:30:26.879,2022-01-19 14:31:05.425,2022-01-19 14:38:54.876,2022-01-19 14:42:27.268,2022-01-19 14:48:40.637,2022-01-19 14:49:23.374,2022-01-19 14:52:28.448,2022-01-19 14:53:10.441,2022-01-19 14:58:15.254,2022-01-19 14:58:56.293,2022-01-19 15:02:07.217
269,1318,8,2022-01-25 14:42:02.540,2022-01-25 14:46:51.479,2022-01-25 14:47:29.501,2022-01-25 14:55:57.626,2022-01-25 14:58:00.553,2022-01-25 15:03:51.294,2022-01-25 15:04:32.247,2022-01-25 15:08:24.967,2022-01-25 15:09:03.396,2022-01-25 15:14:31.493,2022-01-25 15:15:17.361,2022-01-25 15:18:43.286
270,62,11,2022-02-02 12:20:17.849,2022-02-02 12:20:28.775,0,0,2022-02-02 12:20:31.588,2022-02-02 12:20:38.699,2022-02-02 12:20:41.137,2022-02-02 12:20:51.396,2022-02-02 12:20:54.306,2022-02-02 12:21:06.955,2022-02-02 12:21:10.297,2022-02-02 12:21:19.780
271,67,18,"2022-02-09 13:40:37.049,2022-02-09 14:23:32.605,0","2022-02-09 14:05:10.641,2022-02-09 14:23:32.606,0","2022-02-09 14:05:52.838,2022-02-09 14:23:32.606,0","0,2022-02-09 14:28:39.132,0","0,2022-02-09 15:06:51.994,0","0,2022-02-09 15:16:59.165,0","0,2022-02-09 15:18:22.043,0","0,2022-02-09 15:22:09.437,0","0,2022-02-09 15:22:48.263,2022-02-09 15:38:00.469","0,0,2022-02-09 15:38:08.765","0,0,2022-02-09 15:39:11.964","0,0,2022-02-09 15:47:55.545"

# Draft

In [84]:
import tools.Initiate_Alignment.InitAlign as init

In [85]:
tTasks, dTaskPrompts = init.GetTimeStampsSQL(325)

In [86]:
tTasks

TaskTimes(task1=(0.0, 1589.6789999008179), task2=(1697.8110001087189, 2361.9990000724792), task3=(2430.90700006485, 2656.6200001239777), task4=(2808.191999912262, 3120.755000114441), task5=(3446.805999994278, 3874.7139999866486))

In [87]:
dTaskPrompts

defaultdict(list,
            {1: [Prompt(taskID=1, wordID=1, word='duck', answerTime=54.77300000190735, cueOnset=44.25600004196167, cueOffset=44.28999996185303),
              Prompt(taskID=1, wordID=2, word='fish', answerTime=63.95199990272522, cueOnset=54.782999992370605, cueOffset=54.83500003814697),
              Prompt(taskID=1, wordID=3, word='car', answerTime=70.87199997901917, cueOnset=63.954999923706055, cueOffset=63.98300004005432),
              Prompt(taskID=1, wordID=4, word='key', answerTime=74.6930000782013, cueOnset=70.875, cueOffset=70.90300011634827),
              Prompt(taskID=1, wordID=5, word='boat', answerTime=135.16899991035461, cueOnset=74.69700002670288, cueOffset=110.34999990463257),
              Prompt(taskID=1, wordID=6, word='snake', answerTime=138.69799995422363, cueOnset=135.17499995231628, cueOffset=135.21000003814697),
              Prompt(taskID=1, wordID=7, word='cow', answerTime=142.5920000076294, cueOnset=138.70099997520447, cueOffset=138.7300000190735),
              Prompt(taskID=1, wordID=8, word='frog', answerTime=147.07800006866455, cueOnset=142.59899997711182, cueOffset=142.65700006484985),
              Prompt(taskID=1, wordID=9, word='pig', answerTime=158.6340000629425, cueOnset=147.0829999446869, cueOffset=147.1159999370575),
              Prompt(taskID=1, wordID=10, word='giraffe', answerTime=162.5569999217987, cueOnset=158.63700008392334, cueOffset=158.67300009727478),
              Prompt(taskID=1, wordID=11, word='elephant', answerTime=165.80999994277954, cueOnset=162.55999994277954, cueOffset=162.5920000076294),
              Prompt(taskID=1, wordID=12, word='butterfly', answerTime=169.49799990653992, cueOnset=165.81299996376038, cueOffset=165.83899998664856),
              Prompt(taskID=1, wordID=13, word='crab', answerTime=171.8659999370575, cueOnset=169.50099992752075, cueOffset=169.5239999294281),
              Prompt(taskID=1, wordID=14, word='dinosaur', answerTime=175.55299997329712, cueOnset=171.87000012397766, cueOffset=171.90899991989136),
              Prompt(taskID=1, wordID=14, word='dinosaur', answerTime=296.5220000743866, cueOnset=295.34800004959106, cueOffset=295.38499999046326),
              Prompt(taskID=1, wordID=15, word='grasshopper', answerTime=189.48300004005432, cueOnset=175.5569999217987, cueOffset=175.59500002861023),
              Prompt(taskID=1, wordID=16, word='spiderweb', answerTime=197.77900004386902, cueOnset=189.48499989509583, cueOffset=189.51600003242493),
              Prompt(taskID=1, wordID=17, word='hippopotamus', answerTime=201.88499999046326, cueOnset=197.78099989891052, cueOffset=197.81100010871887),
              Prompt(taskID=1, wordID=18, word='tooth', answerTime=204.82299995422363, cueOnset=201.8880000114441, cueOffset=201.91600012779236),
              Prompt(taskID=1, wordID=19, word='Beard', answerTime=236.07699990272522, cueOnset=204.82500004768372, cueOffset=234.06699991226196),
              Prompt(taskID=1, wordID=20, word='Bellybutton', answerTime=246.8140001296997, cueOnset=236.08200001716614, cueOffset=236.114000082016),
              Prompt(taskID=1, wordID=21, word='watch', answerTime=250.1930000782013, cueOnset=246.8180000782013, cueOffset=246.84899997711182),
              Prompt(taskID=1, wordID=22, word='straw', answerTime=255.614000082016, cueOnset=250.19600009918213, cueOffset=250.22300004959106),
              Prompt(taskID=1, wordID=23, word='chair', answerTime=265.1640000343323, cueOnset=255.61700010299683, cueOffset=255.64000010490417),
              Prompt(taskID=1, wordID=24, word='leaf', answerTime=268.3440001010895, cueOnset=265.1670000553131, cueOffset=265.19900012016296),
              Prompt(taskID=1, wordID=25, word='cloud', answerTime=279.78600001335144, cueOnset=268.34800004959106, cueOffset=268.3789999485016),
              Prompt(taskID=1, wordID=26, word='mountain', answerTime=283.27699995040894, cueOnset=279.7880001068115, cueOffset=279.82100009918213),
              Prompt(taskID=1, wordID=27, word='shell', answerTime=286.04699993133545, cueOnset=283.28200006484985, cueOffset=283.30999994277954),
              Prompt(taskID=1, wordID=28, word='bag', answerTime=289.02099990844727, cueOnset=286.0499999523163, cueOffset=286.09500002861023),
              Prompt(taskID=1, wordID=29, word='swing', answerTime=292.6840000152588, cueOnset=289.0239999294281, cueOffset=289.05399990081787),
              Prompt(taskID=1, wordID=30, word='sword', answerTime=295.345999956131, cueOnset=292.6860001087189, cueOffset=292.7130000591278),
              Prompt(taskID=1, wordID=31, word='wheel', answerTime=326.5859999656677, cueOnset=321.04100012779236, cueOffset=321.0829999446869),
              Prompt(taskID=1, wordID=31, word='wheel', answerTime=1648.273999929428, cueOnset=1645.6800000667572, cueOffset=1645.7239999771118),
              Prompt(taskID=1, wordID=32, word='yoyo', answerTime=329.86299991607666, cueOnset=326.59500002861023, cueOffset=326.62800002098083),
              Prompt(taskID=1, wordID=32, word='yoyo', answerTime=449.94400000572205, cueOnset=447.9360001087189, cueOffset=449.87400007247925),
              Prompt(taskID=1, wordID=33, word='garden', answerTime=342.4430000782013, cueOnset=329.8659999370575, cueOffset=329.893000125885),
              Prompt(taskID=1, wordID=34, word='skirt', answerTime=402.72699999809265, cueOnset=342.44600009918213, cueOffset=377.98600006103516),
              Prompt(taskID=1, wordID=35, word='that', answerTime=413.72499990463257, cueOnset=402.7339999675751, cueOffset=406.88899993896484),
              Prompt(taskID=1, wordID=36, word='zoo', answerTime=419.0460000038147, cueOnset=413.72699999809265, cueOffset=416.32999992370605),
              Prompt(taskID=1, wordID=37, word='cub', answerTime=436.2760000228882, cueOnset=419.04900002479553, cueOffset=430.3050000667572),
              Prompt(taskID=1, wordID=38, word='mouth', answerTime=440.78600001335144, cueOnset=436.279000043869, cueOffset=438.164999961853),
              Prompt(taskID=1, wordID=39, word='head', answerTime=444.2569999694824, cueOnset=440.7880001068115, cueOffset=442.7019999027252),
              Prompt(taskID=1, wordID=40, word='thumb', answerTime=447.9319999217987, cueOnset=444.25999999046326, cueOffset=446.20099997520447),
              Prompt(taskID=1, wordID=41, word='Moustache', answerTime=469.72900009155273, cueOnset=449.94600009918213, cueOffset=449.9739999771118),
              Prompt(taskID=1, wordID=41, word='Moustache', answerTime=1652.5840001106262, cueOnset=1648.276999950409, cueOffset=1650.1860001087189),
              Prompt(taskID=1, wordID=42, word='voice', answerTime=499.5510001182556, cueOnset=469.73099994659424, cueOffset=484.50099992752075),
              Prompt(taskID=1, wordID=43, word='jam', answerTime=503.66799998283386, cueOnset=499.55399990081787, cueOffset=501.5079998970032),
              Prompt(taskID=1, wordID=44, word='food', answerTime=510.92000007629395, cueOnset=503.6710000038147, cueOffset=505.8399999141693),
              Prompt(taskID=1, wordID=45, word='dessert', answerTime=515.1219999790192, cueOnset=510.9230000972748, cueOffset=513.2550001144409),
              Prompt(taskID=1, wordID=46, word='tonight', answerTime=573.9839999675751, cueOnset=515.125, cueOffset=539.4400000572205),
              Prompt(taskID=1, wordID=47, word='kitchen', answerTime=579.8329999446869, cueOnset=573.989000082016, cueOffset=577.0120000839233),
              Prompt(taskID=1, wordID=48, word='carpet', answerTime=585.454999923706, cueOnset=579.835000038147, cueOffset=582.4289999008179),
              Prompt(taskID=1, wordID=49, word='machine', answerTime=589.5650000572205, cueOnset=585.4579999446869, cueOffset=587.4230000972748),
              Prompt(taskID=1, wordID=50, word='girl', answerTime=604.8229999542236, cueOnset=589.566999912262, cueOffset=591.1470000743866),
              Prompt(taskID=1, wordID=51, word='balloon', answerTime=653.694000005722, cueOnset=649.7530000209808, cueOffset=651.7550001144409),
              Prompt(taskID=1, wordID=52, word='card', answerTime=656.8629999160767, cueOnset=653.6970000267029, cueOffset=655.4189999103546),
              Prompt(taskID=1, wordID=53, word='Circus', answerTime=662.3589999675751, cueOnset=656.8650000095367, cueOffset=656.8619999885559),
              Prompt(taskID=1, wordID=54, word='Doll', answerTime=673.4049999713898, cueOnset=662.3610000610352, cueOffset=664.319000005722),
              Prompt(taskID=1, wordID=55, word='martian', answerTime=695.3329999446869, cueOnset=673.4089999198914, cueOffset=686.2579998970032),
              Prompt(taskID=1, wordID=56, word='No', answerTime=700.3510000705719, cueOnset=695.3369998931885, cueOffset=697.8650000095367),
              Prompt(taskID=1, wordID=57, word='yes', answerTime=704.3410000801086, cueOnset=700.3529999256134, cueOffset=702.8940000534058),
              Prompt(taskID=1, wordID=58, word='Ride', answerTime=708.9570000171661, cueOnset=704.3429999351501, cueOffset=707.0410001277924),
              Prompt(taskID=1, wordID=59, word='story', answerTime=715.5050001144409, cueOnset=708.960000038147, cueOffset=711.7200000286102),
              Prompt(taskID=1, wordID=60, word='attack', answerTime=752.7720000743866, cueOnset=715.5069999694824, cueOffset=742.8499999046326),
              Prompt(taskID=1, wordID=61, word='cheese', answerTime=790.8650000095367, cueOnset=777.5320000648499, cueOffset=777.5659999847412),
              Prompt(taskID=1, wordID=62, word='banana', answerTime=794.0610001087189, cueOnset=790.8680000305176, cueOffset=790.9049999713898),
              Prompt(taskID=1, wordID=63, word='watermelon', answerTime=806.944000005722, cueOnset=794.0640001296997, cueOffset=794.0920000076294),
              Prompt(taskID=1, wordID=64, word='coconut', answerTime=814.2320001125336, cueOnset=806.9479999542236, cueOffset=806.9760000705719),
              Prompt(taskID=1, wordID=65, word='cucumber', answerTime=836.5529999732971, cueOnset=814.2349998950958, cueOffset=834.2650001049042),
              Prompt(taskID=1, wordID=66, word='potato', answerTime=845.2520000934601, cueOnset=836.5569999217987, cueOffset=836.5910000801086),
              Prompt(taskID=1, wordID=67, word='tomato', answerTime=848.941999912262, cueOnset=845.2550001144409, cueOffset=845.2829999923706),
              Prompt(taskID=1, wordID=68, word='vegemite', answerTime=883.0569999217987, cueOnset=848.9449999332428, cueOffset=848.9979999065399),
              Prompt(taskID=1, wordID=69, word='bird', answerTime=896.7630000114441, cueOnset=883.0599999427795, cueOffset=883.0920000076294),
              Prompt(taskID=1, wordID=70, word='feather', answerTime=902.0729999542236, cueOnset=896.7650001049042, cueOffset=896.7910001277924),
              Prompt(taskID=1, wordID=71, word='owl', answerTime=905.8740000724792, cueOnset=902.0750000476837, cueOffset=902.1050000190735),
              Prompt(taskID=1, wordID=72, word='gorilla', answerTime=908.4349999427795, cueOnset=905.8770000934601, cueOffset=905.9189999103546),
              Prompt(taskID=1, wordID=73, word='kangaroo', answerTime=911.0889999866486, cueOnset=908.4379999637604, cueOffset=908.4749999046326),
              Prompt(taskID=1, wordID=74, word='crocodile', answerTime=913.1349999904633, cueOnset=911.0920000076294, cueOffset=911.1240000724792),
              Prompt(taskID=1, wordID=75, word='ciacada', answerTime=930.1410000324249, cueOnset=913.1370000839233, cueOffset=924.1340000629425),
              Prompt(taskID=1, wordID=76, word='caterpillar', answerTime=934.1210000514984, cueOnset=930.1440000534058, cueOffset=930.1749999523163),
              Prompt(taskID=1, wordID=77, word='rhinoceros', answerTime=937.7090001106262, cueOnset=934.1240000724792, cueOffset=934.1530001163483),
              Prompt(taskID=1, wordID=78, word='clown', answerTime=940.3580000400543, cueOnset=937.7119998931885, cueOffset=937.7479999065399),
              Prompt(taskID=1, wordID=79, word='stethoscope', answerTime=961.9739999771118, cueOnset=940.3610000610352, cueOffset=958.6370000839233),
              Prompt(taskID=1, wordID=80, word='flowerpot', answerTime=990.9560000896454, cueOnset=961.9769999980927, cueOffset=988.7290000915527),
              Prompt(taskID=1, wordID=81, word='spade', answerTime=1000.9019999504089, cueOnset=990.9579999446869, cueOffset=999.3410000801086),
              Prompt(taskID=1, wordID=82, word='treasure', answerTime=1013.0829999446869, cueOnset=1000.9049999713898, cueOffset=1011.1819999217987),
              Prompt(taskID=1, wordID=83, word='canoe', answerTime=1022.7160000801086, cueOnset=1013.0859999656677, cueOffset=1021.0929999351501),
              Prompt(taskID=1, wordID=84, word='bridge', answerTime=1035.726000070572, cueOnset=1022.7190001010895, cueOffset=1022.7490000724792),
              Prompt(taskID=1, wordID=85, word='xylophone', answerTime=1057.933000087738, cueOnset=1035.7279999256134, cueOffset=1035.75200009346),
              Prompt(taskID=1, wordID=86, word='boy', answerTime=1062.7599999904633, cueOnset=1057.9360001087189, cueOffset=1059.7349998950958),
              Prompt(taskID=1, wordID=87, word='hair', answerTime=1074.7179999351501, cueOnset=1062.763000011444, cueOffset=1064.4950001239777),
              Prompt(taskID=1, wordID=88, word='ear', answerTime=1077.7809998989105, cueOnset=1074.720999956131, cueOffset=1076.4649999141693),
              Prompt(taskID=1, wordID=89, word='nose', answerTime=1080.5410001277924, cueOnset=1077.7829999923706, cueOffset=1079.4660000801086),
              Prompt(taskID=1, wordID=90, word='foot', answerTime=1143.4590001106262, cueOnset=1136.7760000228882, cueOffset=1139.3759999275208),
              Prompt(taskID=1, wordID=91, word='short', answerTime=1151.9500000476837, cueOnset=1143.4619998931885, cueOffset=1150.4370000362396),
              Prompt(taskID=1, wordID=92, word='play', answerTime=1156.6510000228882, cueOnset=1151.9539999961853, cueOffset=1154.6740000247955),
              Prompt(taskID=1, wordID=93, word='ball', answerTime=1160.0299999713898, cueOnset=1156.6530001163483, cueOffset=1158.4210000038147),
              Prompt(taskID=1, wordID=94, word='pull', answerTime=1168.2620000839233, cueOnset=1160.0329999923706, cueOffset=1164.763000011444),
              Prompt(taskID=1, wordID=95, word='pool', answerTime=1171.6070001125336, cueOnset=1168.2639999389648, cueOffset=1169.9500000476837),
              Prompt(taskID=1, wordID=96, word='drink', answerTime=1176.7160000801086, cueOnset=1171.6099998950958, cueOffset=1174.3840000629425),
              Prompt(taskID=1, wordID=97, word='Pie', answerTime=1180.4179999828339, cueOnset=1176.7190001010895, cueOffset=1178.6210000514984),
              Prompt(taskID=1, wordID=98, word='sausage', answerTime=1196.5840001106262, cueOnset=1180.4210000038147, cueOffset=1194.4100000858307),
              Prompt(taskID=1, wordID=99, word='spaghetti', answerTime=1201.6029999256134, cueOnset=1196.5859999656677, cueOffset=1198.4079999923706),
              Prompt(taskID=1, wordID=100, word='vanilla', answerTime=1206.0069999694824, cueOnset=1201.6059999465942, cueOffset=1204.2760000228882),
              Prompt(taskID=1, wordID=101, word='cart', answerTime=1219.0199999809265, cueOnset=1206.0099999904633, cueOffset=1217.233999967575),
              Prompt(taskID=1, wordID=102, word='tail', answerTime=1223.12299990654, cueOnset=1219.0230000019073, cueOffset=1221.2469999790192),
              Prompt(taskID=1, wordID=103, word='fur', answerTime=1244.5650000572205, cueOnset=1223.1259999275208, cueOffset=1236.0729999542236),
              Prompt(taskID=1, wordID=104, word='detective', answerTime=1254.861999988556, cueOnset=1244.566999912262, cueOffset=1252.3199999332428),
              Prompt(taskID=1, wordID=105, word='magician', answerTime=1270.3099999427795, cueOnset=1254.8650000095367, cueOffset=1268.683000087738),
              Prompt(taskID=1, wordID=106, word='breathe', answerTime=1275.223000049591, cueOnset=1270.3129999637604, cueOffset=1273.361999988556),
              Prompt(taskID=1, wordID=107, word='garage', answerTime=1284.6459999084473, cueOnset=1275.226000070572, cueOffset=1277.7860000133514),
              Prompt(taskID=1, wordID=108, word='light', answerTime=1294.167000055313, cueOnset=1284.6500000953674, cueOffset=1287.476000070572),
              Prompt(taskID=1, wordID=109, word='thermometer', answerTime=1308.6210000514984, cueOnset=1294.1740000247955, cueOffset=1305.5230000019073),
              Prompt(taskID=1, wordID=110, word='hole', answerTime=1312.6129999160767, cueOnset=1308.6240000724792, cueOffset=1310.7490000724792),
              Prompt(taskID=1, wordID=111, word='sprout', answerTime=1324.2839999198914, cueOnset=1312.6170001029968, cueOffset=1321.9560000896454),
              Prompt(taskID=1, wordID=112, word='hill', answerTime=1328.1779999732971, cueOnset=1324.2880001068115, cueOffset=1326.6050000190735),
              Prompt(taskID=1, wordID=113, word='smile', answerTime=1335.1329998970032, cueOnset=1328.180999994278, cueOffset=1331.8719999790192),
              Prompt(taskID=1, wordID=114, word='splash', answerTime=1342.4000000953674, cueOnset=1335.1349999904633, cueOffset=1338.848000049591),
              Prompt(taskID=1, wordID=115, word='wood', answerTime=1346.4059998989105, cueOnset=1342.401999950409, cueOffset=1344.920000076294),
              Prompt(taskID=1, wordID=116, word='binoculars', answerTime=1366.1570000648499, cueOnset=1346.4079999923706, cueOffset=1359.3310000896454),
              Prompt(taskID=1, wordID=117, word='Australia', answerTime=1382.0480000972748, cueOnset=1366.1610000133514, cueOffset=1368.319000005722),
              Prompt(taskID=1, wordID=118, word='Count eggs in grass', answerTime=1426.4670000076294, cueOnset=1382.0510001182556, cueOffset=1385.1600000858307),
              Prompt(taskID=1, wordID=119, word='One cup', answerTime=1456.2650001049042, cueOnset=1448.6840000152588, cueOffset=1451.085000038147),
              Prompt(taskID=1, wordID=120, word='Two cups', answerTime=1462.4240000247955, cueOnset=1456.2669999599457, cueOffset=1458.526999950409),
              Prompt(taskID=1, wordID=121, word='Three cups', answerTime=1475.5190000534058, cueOnset=1462.4270000457764, cueOffset=1464.7109999656677),
              Prompt(taskID=1, wordID=122, word='Four cups', answerTime=1490.164999961853, cueOnset=1475.5220000743866, cueOffset=1478.00200009346),
              Prompt(taskID=1, wordID=123, word='One egg', answerTime=1495.99799990654, cueOnset=1490.170000076294, cueOffset=1492.6070001125336),
              Prompt(taskID=1, wordID=124, word='Two eggs', answerTime=1502.7650001049042, cueOnset=1496.0, cueOffset=1498.3870000839233),
              Prompt(taskID=1, wordID=125, word='Three eggs', answerTime=1507.8959999084473, cueOnset=1502.7669999599457, cueOffset=1505.1749999523163),
              Prompt(taskID=1, wordID=126, word='Four eggs', answerTime=1512.2220001220703, cueOnset=1507.898999929428, cueOffset=1510.2780001163483),
              Prompt(taskID=1, wordID=127, word='One o clock', answerTime=1575.50200009346, cueOnset=1512.226000070572, cueOffset=1514.473000049591),
              Prompt(taskID=1, wordID=128, word='Two o clock', answerTime=1582.135999917984, cueOnset=1575.5039999485016, cueOffset=1577.7460000514984),
              Prompt(taskID=1, wordID=129, word='Three o clock', answerTime=1585.9319999217987, cueOnset=1582.1389999389648, cueOffset=1584.37299990654),
              Prompt(taskID=1, wordID=130, word='Four o clock', answerTime=1589.7000000476837, cueOnset=1585.9340000152588, cueOffset=1588.167000055313)],
             2: [Prompt(taskID=2, wordID=131, word='Cats often catch mice', answerTime=1840.180999994278, cueOnset=1817.0520000457764, cueOffset=1820.5299999713898),
              Prompt(taskID=2, wordID=132, word='Cousins always pour the tea', answerTime=1858.191999912262, cueOnset=1840.210000038147, cueOffset=1843.5069999694824),

In [70]:
stTime, endTime, labels = [a.squeeze() for a in np.split(df_results[df_results.speaker == 0][['from','to','word']].values,3,1)]

In [71]:
tgm.WriteTxtGrdFromDict()

array([1075.51, 1236.8, 1262.36, 1262.47, 1262.85, 1262.97, 1263.26,
       1271.6, 1274.73, 1274.83, 1275.16, 1275.34, 1275.83, 1300.31,
       1300.52, 1300.68, 1300.94, 1301.25, 1306.45, 1306.58, 1310.59,
       1310.77, 1311.0, 1311.36, 1312.18, 1322.95, 1326.06, 1326.19,
       1326.54, 1326.83, 1326.91, 1327.53, 1327.76, 1327.98, 1330.97,
       1331.1, 1331.47, 1331.59, 1332.05, 1332.56, 1340.36, 1340.7,
       1341.44, 1341.63, 1341.79, 1342.18, 1342.33, 1349.95, 1350.32,
       1350.56, 1359.91, 1360.02, 1364.32, 1364.5, 1364.71, 1364.98,
       1365.14, 1365.28, 1368.37, 1368.5, 1369.01, 1369.11, 1369.5,
       1369.94, 1380.06, 1380.26, 1380.74, 1381.17, 1381.37, 1383.91,
       1384.1, 1384.51, 1384.81, 1384.89, 1385.28, 1385.45, 1386.07,
       1386.41, 1386.54, 1390.81, 1391.34, 1391.54, 1391.6, 1392.25,
       1392.45, 1392.55, 1392.82, 1392.99, 1393.08, 1393.34, 1393.41,
       1398.11, 1398.25, 1398.87, 1399.19, 1402.14, 1402.41, 1402.49,
       1413.44, 1413.55, 1422.18, 1422.67, 1422.79, 1422.94, 1423.16,
       1482.62, 1482.81, 1483.1, 1483.47, 1483.68, 1483.83, 1512.02,
       1512.21, 1512.49, 1512.87, 1513.07, 1513.22, 1518.18, 1518.36,
       1518.64, 1519.02, 1519.23, 1519.38, 1611.33, 1611.44, 1631.25,
       1631.54, 1631.66, 1632.04, 1632.16, 1632.25, 1637.84, 1638.17,
       1638.28, 1638.67, 1638.79, 1638.88, 1639.27, 1639.4, 1641.69,
       1641.99, 1642.1, 1642.49, 1642.6, 1642.69, 1643.05, 3022.36,
       3445.32, 3544.26, 3544.85, 3545.45, 3545.83, 3552.49, 3558.58,
       3564.55, 3570.54, 3571.17, 3571.6, 3572.11, 3574.0, 3574.27,
       3581.69, 3582.32, 3582.75, 3583.28, 3585.17, 3585.44, 3589.36,
       3594.84, 3604.49, 3604.83, 3616.44, 3617.14, 3621.46, 3625.01,
       3625.54, 3642.94, 3643.19, 3643.32, 3650.36, 3652.74, 3653.31,
       3653.78, 3657.45, 3657.78, 3657.93, 3673.84, 3674.16, 3674.32,
       3680.16, 3680.65, 3685.59, 3685.73, 3697.44, 3697.73, 3697.82,
       3707.05, 3707.34, 3707.44, 3712.41, 3712.64, 3712.7, 3744.93,
       3745.24, 3758.02, 3758.42, 3758.74, 3762.96, 3767.19, 3773.53,
       3773.88, 3773.95, 3798.53, 3798.79, 3798.87, 3805.11, 3805.57,
       3807.41, 3807.69, 3812.78, 3813.06, 3813.53, 3817.97, 3818.47,
       3823.45, 3827.19, 3827.39, 3831.61, 3832.0, 3836.2, 3836.47,
       3836.87, 3840.64, 3841.04, 3845.07, 3848.89, 3849.13, 3861.87,
       3862.11, 3862.4, 3867.28, 3870.53, 3877.32, 3877.47, 3878.11,
       3888.32, 3891.53, 3891.86, 3899.99, 3900.31, 3903.96, 3904.42,
       3908.29, 3920.76, 3924.87], dtype=object)

In [44]:
df_words

          word     from       to
0        sorry    10.25    10.91
1           we    11.18    11.32
2       didn't    11.32    11.61
3         play    11.61    11.80
4            a    11.80    11.90
...        ...      ...      ...
2243        no  3931.96  3932.15
2244       one  3932.15  3932.37
2245     level  3932.37  3932.70
2246  complete  3932.70  3933.61
2247      game  3935.48  3935.81

[2248 rows x 3 columns]

      speaker  confidence  final     from       to      word
0           1        0.37  False    10.25    10.91     sorry
1           1        0.35  False    11.18    11.32        we
2           1        0.35  False    11.32    11.61    didn't
3           1        0.35  False    11.61    11.80      play
4           1        0.35  False    11.80    11.90         a
...       ...         ...    ...      ...      ...       ...
2243        1        0.28  False  3931.96  3932.15        no
2244        1        0.28  False  3932.15  3932.37       one
2245        1        0.28  False  3932.37  3932.70     level
2246        1        0.28  False  3932.70  3933.61  complete
2247        1        0.37   True  3935.48  3935.81      game

[2248 rows x 6 columns]

In [30]:
results[0]['results'][0]['timestamps']

KeyError: 'timestamps'

In [42]:
pd.DataFrame.from_records(timestamps,columns=['word','to','from'])

          word       to     from
0        sorry    10.25    10.91
1           we    11.18    11.32
2       didn't    11.32    11.61
3         play    11.61    11.80
4            a    11.80    11.90
...        ...      ...      ...
2243        no  3931.96  3932.15
2244       one  3932.15  3932.37
2245     level  3932.37  3932.70
2246  complete  3932.70  3933.61
2247      game  3935.48  3935.81

[2248 rows x 3 columns]

In [36]:
l = results[0]['results'][0]['alternatives'][0]['timestamps']

In [37]:
l

[['sorry', 10.25, 10.91],
 ['we', 11.18, 11.32],
 ["didn't", 11.32, 11.61],
 ['play', 11.61, 11.8],
 ['a', 11.8, 11.9],
 ['few', 11.9, 12.63],
 ['games', 12.66, 13.15],
 ['and', 13.15, 13.38],
 ['you', 13.38, 13.49],
 ['know', 13.49, 13.68],
 ['that', 13.68, 13.93],
 ['this', 13.93, 14.15],
 ['can', 14.15, 14.37],
 ['grew', 14.37, 14.69],
 ['his', 14.69, 14.93],
 ['again', 14.93, 15.27],
 ['to', 15.27, 15.58],
 ['you', 15.58, 15.72],
 ['can', 15.72, 15.92],
 ['actually', 15.92, 16.38],
 ['press', 16.38, 16.78],
 ['different', 17.44, 17.78],
 ['parts', 17.78, 18.02],
 ['of', 18.02, 18.1],
 ['the', 18.1, 18.2],
 ['islands', 18.2, 18.67],
 ['making', 18.67, 18.98],
 ['jump', 18.98, 19.24],
 ['around', 19.24, 19.73],
 ['sometimes', 19.87, 20.77],
 ['sometimes', 21.15, 21.51],
 ['it', 21.51, 21.59],
 ["doesn't", 21.59, 21.85],
 ['get', 21.85, 21.97],
 ['replaced', 21.97, 22.29],
 ['other', 22.62, 22.88],
 ['times', 22.88, 23.17],
 ['from', 23.17, 23.31],
 ['very', 23.31, 23.67],
 ['good', 23.67, 24.07]]

In [168]:
import pyAudioAnalysis.ShortTermFeatures as sF

In [169]:
wavfile = '/media/Windows/root/test.wav'

In [181]:
import wave,struct, os
#Flags
use_delta = False
fWindowSize = 0.02
fStepSize = 0.01
Context = (-2,-1,0,1,2)
working_dir = 'BeepDetModel/'
egs_dir = os.path.join(working_dir,'egs')
nFeatures = 68 if use_delta else 34
with wave.open(wavfile) as fWav:
    assert fWav.getsampwidth() == 2, 'Only 16 bit resolution supported'
    iFrameRate = fWav.getframerate()
    nTotalFrames = fWav.getnframes()
    data = fWav.readframes(nTotalFrames)
    data = [ i[0] for i in struct.iter_unpack('h',data)]
    data = np.asarray(data)

In [182]:
aFeatures, lFeatures_names = sF.feature_extraction(data,iFrameRate,int(fWindowSize*iFrameRate),int(fStepSize*iFrameRate),deltas=use_delta)

In [187]:
sF.energy(data)

27619427.0680353